/*-- scss:defaults --*/

h3 {
    text-align: center;
  }

  // custom slide title
.custom-title {
    display: block;
    text-align: center;
  }

.thenv {
  display: block;
  font-size: 24px;
  color: black;
  border-radius: 6px;
  background-color: #f2f2f2ff;
  border: solid #047C90 0.27rem;
  // box-shadow: 5px 10px 8px #888888;
}
.thenv::before {
  content: attr(env-type) ": " attr(data-text);
  font-weight: bold;
  font-style: normal;
  display: block;
  color: white;
  padding: 5px 5px 5px 15px;
  background-color: #047C90;
}

.thenv p {
  padding: 15px 15px 15px 15px;
}